.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding: 0;
}

.cta {
    border-right: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    display: inline-block;
    box-sizing: content-box;
    height: max-content;
    padding: 0 8px 16px 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cta__button {
    background-color: var(--yellow);
    color: #000;
    text-decoration: none;
    border: 2px solid var(--yellow);
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    overflow: none;
    box-sizing: border-box;
    padding: 8px;
}

.cta__button--inverted {
    color: var(--yellow);
    background-color: #000;
}

.cta__button:hover {
    background-color: #000;
    color: var(--yellow);
}

.cta__button--inverted:hover {
    background-color: var(--yellow);
    color: #000;
}

.nav {
    display: none;
    padding: 0;
    list-style: none;
    align-content: space-between;
    font-weight: bold;
    box-sizing: border-box;
}

.nav__navItem {
    margin: 1em;
    box-sizing: border-box;
}

.nav__navItem:first-child {
    margin-left: 0;
}

.navContainer--responsive .nav__navItem:first-child {
    margin-left: 1em;
}

.nav__navItem a {
    text-decoration: none;
    color: #ffff;
    font-size: 24px;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: .75em;
    border-bottom: 2px solid transparent;
}

.nav__navItem--active a {
    border-bottom: 2px solid var(--yellow);
    color: var(--yellow);
}

.nav__navItem a:hover {
    border-bottom: 2px solid var(--yellow);
    color: var(--yellow);
}

.navContainer--responsive .nav {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: #000;
    color: #000;
  }
  
  .navContainer--responsive .nav__navItem {
    display: block;
  }
  
  .navContainer--responsive .nav__navItem a {
    text-align: left;
  }
  
  .navContainer--responsive {
    width: 100%;
    height: auto;
    z-index: 2;
    color: #000;
  }

.icon {}

.icon--yellow {
    color: var(--yellow);
}

.icon--green {
    color: var(--green);
}

.slogan {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pointsBlock {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pointsBlock--landing {
    color: var(--yellow);
}

@media screen and (min-width: 1024px) {
    .nav {
        display: flex;
    }

    .hamburger-row {
        display: none;
        visibility: none;
    }
    
    .landing {
        display: flex;
    }
    
    .comparisonBox {
        display: flex;
    }

    .comparisonBox .imageContainer, .comparisonBox .imageContainer .pointsBlock {
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 70vw;
    }

    .header {
        width: 70vw;
    }
    
    .comparison {
        display: flex;
    }

    .comparisonBox {
        display: flex;
    }

    .landing {
        position: relative;
    }

    .landing::before {
        content:"";
        position:absolute;
        background: var(--yellow);
        transform: skew(-30deg);
        top:0;
        left:600px;
        right:0;
        bottom:0;
        z-index:-1;
    }

    .landing__graphic {
        display: flex;
    }

    .landing__text {
        width: 50%;
    }
}