/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
  
  .cta {
    border-right: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    display: inline-block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0 8px 16px 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .cta__button {
    background-color: var(--yellow);
    color: #000;
    text-decoration: none;
    border: 2px solid var(--yellow);
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    overflow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px;
  }
  
  .cta__button--inverted {
    color: var(--yellow);
    background-color: #000;
  }
  
  .cta__button:hover {
    background-color: #000;
    color: var(--yellow);
  }
  
  .cta__button--inverted:hover {
    background-color: var(--yellow);
    color: #000;
  }
  
  .nav {
    display: none;
    padding: 0;
    list-style: none;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .nav__navItem {
    margin: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .nav__navItem:first-child {
    margin-left: 0;
  }
  
  .navContainer--responsive .nav__navItem:first-child {
    margin-left: 1em;
  }
  
  .nav__navItem a {
    text-decoration: none;
    color: #ffff;
    font-size: 24px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 0.75em;
    border-bottom: 2px solid transparent;
  }
  
  .nav__navItem--active a {
    border-bottom: 2px solid var(--yellow);
    color: var(--yellow);
  }
  
  .nav__navItem a:hover {
    border-bottom: 2px solid var(--yellow);
    color: var(--yellow);
  }
  
  .navContainer--responsive .nav {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: var(--yellow);
    padding-top: 1em;
  }
  
  .navContainer--responsive .nav__navItem {
    display: block;
  }
  
  .navContainer--responsive .nav__navItem a {
    text-align: left;
    color: #000;
  }

  .navContainer--responsive .nav__navItem a:hover,  .navContainer--responsive .nav__navItem--active {
    text-align: left;
    color: #000;
    border-bottom: 2px solid #000;
  }
  
  .navContainer--responsive {
    width: 100%;
    height: auto;
    z-index: 2;
    color: #000;
  }

  
  .icon--yellow {
    color: var(--yellow);
  }
  
  .icon--green {
    color: var(--green);
  }
  
  .slogan {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  .imageContainer {
    width: 100%;
    height: 100%;
  }
  
  .imageContainer--landing {
    display: none;
  }

  .imageContainer--big {
    display: none;
  }
  
  .imageContainer__image {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .pointsBlock {
    font-weight: bold;
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .pointsBlock--landing {
    color: var(--yellow);
  }

  .ad {
    background-image: url(../img/web/1080/EFuel-Reklama2.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
}

.copyright {
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0 1em 0;
    color: var(--yellow)
}

  @media screen and (min-width: 768px) {
    .landing {
        display: block;
    }

    .navContainer--responsive .nav__navItem {
        margin-left: 3em;
      }

    .comparisonBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .comparisonBox > .imageContainer {
        width: 50%;
    }

    .about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .imageContainer--big {
        display: initial;
      }
  }
  
  @media screen and (min-width: 1024px) {
    .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .hamburger-row {
      display: none;
      visibility: hidden;
    }
  
    .landing {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .comparison {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 90%;
      margin-right: auto;
    }
  
    .comparisonBox {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .comparisonBox > .imageContainer,
    .comparisonBox > .pointsBlock {
      width: 50%;
    }
  
    .landing__graphic {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 50%;
    }
  
    .landing__graphic .imageContainer:last-child {
      display: none;
      visibility: hidden;
    }
  
    .imageContainer--landing {
      display: initial;
      position: relative;
      left: 100px;
    }
  
    .landing__text {
      width: 50%;
    }
  
    .about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .about__text {
        width: 50%;
    }

    .promoText {
        width: 50%;
    }
  
    .about > .imageContainer {
      width: 25%;
    }
  
    .glide {
      display: none;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .wrapper {
      width: 70vw;
    }
  
    .header {
      width: 70vw;
    }
  
    .landing {
      position: relative;
    }
  
    .landing::before {
      content: "";
      position: absolute;
      background: var(--yellow);
      -webkit-transform: skew(-30deg);
          -ms-transform: skew(-30deg);
              transform: skew(-30deg);
      top: -200px;
      left: 800px;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 800px;
      height: 700px;
    }
  
    .landing__graphic {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .landing__graphic .imageContainer:last-child {
      display: initial;
      visibility: visible;
    }

    .imageContainer--landing {
        display: initial;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        position: relative;
        left: 100px;
        z-index: 1;
      }

      .imageContainer--big .imageContainer__image {
        display: initial;
        -webkit-transform: scale(2);
            -ms-transform: scale(2);
                transform: scale(2);
        position: relative;
        left: 100px;
        top: 100px;
        z-index: 2;
      }
  
    .landing__text {
      width: 50%;
    }
  }

  @media screen and (min-width: 1920px) {
    .wrapper {
      width: 60vw;
    }
  
    .header {
      width: 60vw;
    }
  }
  